# Python Basics NoteBook

In [2]:
#Write a Python code to return your Python version
import sys
sys.version

'3.8.5 (default, Sep  4 2020, 00:03:40) [MSC v.1916 32 bit (Intel)]'

In [3]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]
id="513"
print("customer id=",id)

customer id= 513

In [4]:
#Run the following statement, why there is an error

id=id+1
#because id is a string, it can only concatenate with a string

TypeError: can only concatenate str (not "int") to str

In [10]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
id_incre=int(id)+1
new_id=int(id_incre)
print(new_id)

514

In [21]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.
print("Twinkle, twinkle, little star,\n     How I wonder what you are!\n         Up above the world so high,\n            Like a diamond in the sky.")

Twinkle, twinkle, little star,
     How I wonder what you are!
         Up above the world so high,
            Like a diamond in the sky.

In [23]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"
print(course[0])

P

In [24]:
# Print the element on the 13th index in the string

print(course[13])

t

In [25]:
# Find the length of string
len(course)

23

In [26]:
# Print the last element in the string [use negative index]
print(course[-1])

e

In [27]:
# Take the slice on variable course with only index 11 to index 14
print(course[11:15:1])

Data

In [28]:
# Get every third element in the range from index 0 to index 20
print(course[0:21:3])

Ph ra i

In [30]:
# Concatenate course string with ", AI & Development"
string_1="AI &"
string_2=' Development'
string_3=string_1+string_2
print(string_3)

AI & Development

In [35]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
newstring=course+", "+string_3
print(newstring)
newstring_revamp=newstring.replace(" ","_")
print(newstring_revamp)

Python for Data Science, AI & Development
Python_for_Data_Science,_AI_&_Development

In [36]:
# Convert all the characters in string to upper case
stringuppder=newstring.upper()
print(stringuppder)

PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT