In [2]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,3,2021)
myTuple=("NPower","JDA","Tuesday",30,3,2021)

In [3]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [4]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [39]:
#Q4 print the values in each index #Use regular indexing 
print(myTuple[0],myTuple[1],myTuple[2],myTuple[3],myTuple[4],myTuple[5])

#or
#for i in myTuple:
    #print(i)

NPower JDA Tuesday 30 3 2021
NPower
JDA
Tuesday
30
3
2021

In [7]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-6],myTuple[-5],myTuple[-4],myTuple[-3],myTuple[-2],myTuple[-1])

NPower JDA Tuesday 30 3 2021

In [38]:
#Q6 what is the type of each value
myTuple=("NPower","JDA","Tuesday",30,3,2021)
for i in myTuple:
    print (type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>

In [40]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year accordingly 
# print the variables 
name,program,dayName,month,day,year=myTuple

In [42]:
#Q8 unpack myTuple2 in the follwoeing variablesc.
# What will happen to variables (name,program,dayName) and (month,day,year)
myTuple2=("NPower","JDA","Tuesday")
name,program,dayName=myTuple2

#it depends on how I define myTuple2, if I define myTuple2 as myTuple2=("NPower","JDA","Tuesday") then nothing will change other than the length got shorter. 
#If I keep myTuple2 as myTuple, I would get an outbound error.

In [ ]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements 
Tuple2=("Ulan")#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value

a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)

d=Tuple2
print(type(d))
print(d)

e=test
print(e)

In [ ]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory 
#and holding different information

testTuple=(1,2,3)
print(testTuple)

testTuple=(4,5,6)
print(testTuple)

#But we can't change or edit a value for the existing tuple

testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

In [61]:
#Q9 Reverse myTuple, output should looks like ("NPower","JDA","Tuesday",30,3,2021)
print(myTuple)
myTuple[::-1]

('NPower', 'JDA', 'Tuesday', 30, 3, 2021)

(2021, 3, 30, 'Tuesday', 'JDA', 'NPower')

In [62]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))

In [68]:
#Q11 What is the output of nestedTuple[1:2]
('week', (2, 'Lists', 'Tuple'))

('week', (2, 'Lists', 'Tuple'))

In [69]:
#Q12 print each element in the nestedTuple
for i in nestedTuple:
    print(i)

('Coursera', 'course', 6)
('week', (2, 'Lists', 'Tuple'))

In [70]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

(2, 'Lists', 'Tuple')

In [71]:
#Q14 Access "Lists" from nestedTuple
nestedTuple[1][1][1]

'Lists'

In [72]:
#Q15 Access "Tuple" from nestedTuple
nestedTuple[1][1][2]

'Tuple'

In [73]:
#Q16 Access "course" from nestedTuple
nestedTuple[0][1]

'course'

In [75]:
#Q17 Concatenate myTuple with nestedTuple
new_tuple=myTuple+nestedTuple
new_tuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')))

In [77]:
#Q18 add your name to the tuple
nametuple=new_tuple+("jerry",)
nametuple

('NPower',
 'JDA',
 'Tuesday',
 30,
 3,
 2021,
 ('Coursera', 'course', 6),
 ('week', (2, 'Lists', 'Tuple')),
 'jerry')

In [79]:
#Q19 check whether Coursera exists within a myTuple
'Coursera' in nametuple[6]
# NOTE in doesn't work properly with nested tuples # Wrong output

True

In [82]:
#Q20 check whether an element exists within a testTuple
'3' in nametuple

False

In [80]:
#Q21 Find the index of JDA in myTuple

myTuple.index('JDA')
# Find the index of 'Coursera' in myTuple
# NOTE index doesn't work properly with nested tuples # Wrong output

1

In [85]:
#Q22 print index 8 from myTuple
nametuple[8]

'jerry'

In [87]:
#Q23 Get the 4th element and 4th element from last of a myTuple
nametuple[3]
nametuple[-4]

2021

In [92]:
#Q24 Find how many times 27 appeared in the tuple [Hint: Use method count()]
x=nametuple.count(27)
x

0